<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${tittle}"></title>
</head>
<body>
    <li th:if="${user.userName != null}" th:text="${user.userName}"></li>
    <li th:if="${user.userLastname != null}" th:text="${user.userLastname}"></li>
    <li th:if="${user.userEmail != null}" th:text="${user.userEmail}"></li>
    <li th:if="${user.userEmail == null}" th:text="${'No tiene correo'}"></li>
</body>
</html>