<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${tittle}"></title>
</head>
<body>
    <h1 th:text="${userName}"></h1>
    <h1 th:text="${userLastname}"></h1>

    <h1 th:text="${tittle}"></h1>
    <div th:if="${users.size() == 0}">No tiene elementos usuarios</div>

    <table th:if="${not users.isEmpty()}">
        <thead>
            <tr>
                <th>User</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>        
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userLastname}"></td>
                <td th:text="${user.userEmail}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>